agentesecreto.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO casos_politicos\n(\n  id_caso,\n  titulo,\n  texto,\n  origem,\n  link_fonte,\n  data_publicacao\n)\nVALUES\n(\n  $1, $2, $3, $4, $5, $6\n)\nON CONFLICT (id_caso) DO NOTHING\nRETURNING *;",
        "options": {
          "queryReplacement": "={{$json.id_caso}}, {{$json.titulo}}, {{$json.texto}}, {{$json.origem}}, {{$json.link_fonte}}, {{$json.data_publicacao}}"
        }
      },
      "id": "40cec676-214d-4280-9f06-9e0f0a99860d",
      "name": "Salvar no Banco",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -112,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "dl6ZyVNekfqgVDa5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ===============================\n// GERA ID\n// ===============================\nconst id_caso =\n  $json.id_caso ||\n  Math.random().toString(36).substring(2, 10);\n\n// ===============================\n// NORMALIZA\n// ===============================\nconst titulo =\n  $json.title ||\n  $json.titulo ||\n  $json.contentSnippet ||\n  'Sem título';\n\nconst snippet =\n  $json.contentSnippet ||\n  $json.description ||\n  '';\n\n// ===============================\n// RESOLVE LINK GOOGLE NEWS\n// ===============================\nfunction resolverGoogleNews(url) {\n  if (!url || !url.includes('news.google.com')) return url;\n\n  try {\n    const encoded = url.split('/articles/')[1]?.split('?')[0];\n    if (!encoded) return url;\n\n    const decoded = Buffer.from(encoded, 'base64').toString('utf-8');\n    const match = decoded.match(/https?:\\/\\/[^\\s\"]+/);\n\n    return match ? match[0] : url;\n  } catch {\n    return url;\n  }\n}\n\n// ✅ RETORNO CORRETO PARA ESSE MODO\nreturn {\n  json: {\n    id_caso,\n    titulo,\n    texto: snippet ? `${titulo}\\n\\n${snippet}` : titulo,\n    origem: $json.origem || 'Google News RSS 📰',\n    link_fonte: $json.link_fonte || $json.link,\n    data_publicacao: $json.pubDate || $json.isoDate || new Date().toISOString()\n  }\n};"
      },
      "id": "7c759223-a686-41c7-aa4f-c42bd98c15ff",
      "name": "Normalizar RSS1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        568,
        340
      ],
      "id": "f36b082c-86aa-48eb-be0f-9fe001925809",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "uv94axKeDMlWh12E",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 30,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "9fbf0ca8-e526-48d2-bb43-ef0b593856b2",
      "name": "Cron (30min)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1232,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=política+governo+Brasil&hl=pt-BR&gl=BR&ceid=BR:pt-BR",
        "options": {}
      },
      "id": "e3805869-b87c-4d2f-97e7-bd99aadd09dc",
      "name": "RSS Governo",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -1008,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=política+Brasil+ministro+presidente&hl=pt-BR&gl=BR&ceid=BR:pt-BR",
        "options": {}
      },
      "id": "845df9bf-454f-484e-a3d3-1f54c95cf17e",
      "name": "RSS Ministros",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -1008,
        432
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "b0175c10-1684-4a0c-80a1-81361943bcf8",
      "name": "Juntar Tudo (Append)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -784,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ================= CONFIG =================\nconst keywords = [\n  'escândalo', 'denúncia', 'urgente', 'polêmica',\n  'corrupção', 'investigação', 'stf', 'congresso',\n  'bolsonaro', 'lula', 'moraes', 'golpe'\n];\n// =========================================\n\nconst seen = new Set();\nconst output = [];\n\nfor (const item of $input.all()) {\n  const json = item.json;\n\n  const title = json.title || '';\n  const resumo = json.contentSnippet || '';\n  const link = json.link; // ✅ SOMENTE ISSO\n\n  if (!link || typeof link !== 'string') continue;\n\n  // Deduplicação por link\n  if (seen.has(link)) continue;\n  seen.add(link);\n\n  // Filtro de relevância\n  const texto = (title + ' ' + resumo).toLowerCase();\n  const relevante = keywords.some(k => texto.includes(k));\n  if (!relevante) continue;\n\n  item.json.link_fonte = link;\n  output.push(item);\n}\n\nreturn output;"
      },
      "id": "e9566ad1-299f-4a4a-98ce-4b2786d06db5",
      "name": "Filtro & Deduplicação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=congresso+Brasil&hl=pt-BR&gl=BR&ceid=BR:pt-BR",
        "options": {}
      },
      "id": "8b4942d9-cce4-4981-ae05-e36e1d7d5162",
      "name": "RSS Congresso1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -1008,
        48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a824c2cd-5857-49dd-b4e0-64233e931d57",
      "name": "Loop (1 por 1)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- Parte 1: pega a saída da IA ---\nconst inputIA = $input.first();\n\n// Campos possíveis que a IA pode retornar\nconst possiveisCampos = [\n  inputIA.json.texto_whatsapp,\n  inputIA.json.text,\n  inputIA.json.output,\n  inputIA.json.response,\n  inputIA.json.result,\n  \"\"\n];\n\n// Seleciona o primeiro texto válido\nlet textoIA =\n  possiveisCampos.find(\n    t => typeof t === \"string\" && t.trim().length > 0\n  ) || \"\";\n\n// Remove blocos ```json\ntextoIA = textoIA\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Se for JSON puro, tenta extrair campos úteis\ntry {\n  const parsed = JSON.parse(textoIA);\n  textoIA =\n    parsed.texto_whatsapp ||\n    parsed.resumo_boato ||\n    parsed.a_verdade ||\n    textoIA;\n} catch (e) {\n  // não é JSON, segue normal\n}\n\n// --- Parte 2: pega o link do item atual do loop ---\nlet linkNoticia = \"Fonte não disponível\";\n\ntry {\n  linkNoticia = $('Loop (1 por 1)').item.json.link_fonte || linkNoticia;\n} catch (e) {}\n\n// --- Parte 3: monta mensagem final ---\n// ⚠️ SUBSTITUA PELO SEU NÚMERO REAL\nconst numeroDestino = \"5511999999999\";\n\nconst mensagemFinal =\n  `${textoIA}\\n\\n📌 Link da matéria: ${linkNoticia}`;\n\n// --- Retorno obrigatório do n8n ---\nreturn [\n  {\n    json: {\n      number: numeroDestino,\n      text: mensagemFinal,\n      delay: 1200,\n      linkPreview: true\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        116
      ],
      "id": "389cdd97-9958-415b-bc0f-4af42ee9cef7",
      "name": "prepara mensagem"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v52X8brqM954bRc-kyEcr",
          "mode": "list",
          "cachedResultUrl": "/workflow/v52X8brqM954bRc-kyEcr",
          "cachedResultName": "Tool - Busca"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        696,
        340
      ],
      "id": "284d36a1-b3f9-495b-b7b5-1eb1871af62d",
      "name": "Call 'Tool - Busca'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/evolution",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_API_KEY_AQUI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "delay",
              "value": "={{ $json.delay || 1200 }}"
            },
            {
              "name": "linkPreview",
              "value": "={{ $json.linkPreview || true }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0bc17d03-30c7-4783-ac88-5829af95deb2",
      "name": "Envio mensagem IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        116
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM casos_politicos\nWHERE status = 'AGUARDANDO_ANALISE'\nORDER BY data_publicacao DESC\nLIMIT 10; ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        240
      ],
      "id": "a162f67d-8834-4286-b1bc-b4043e49854f",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "dl6ZyVNekfqgVDa5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE casos_politicos\nSET status = 'ANALISADO',\n  data_analise = NOW()\nWHERE id_caso = $1;",
        "options": {
          "queryReplacement": "=={{ [$json.id_caso] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        240
      ],
      "id": "2ee2a05d-2f66-45a4-a670-74375a4d100d",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "dl6ZyVNekfqgVDa5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto }}",
        "options": {
          "systemMessage": "=PERSONA & MISSÃO\n\nVocê é o Agente Secreto, uma IA especialista em investigação forense digital e fact-checking.\n\nPROTOCOLO DE SEGURANÇA\n1. Analise o texto recebido.\n2. Use a TOOL de busca para validar se é verdade.\n3. Se não houver provas, marque INCONCLUSIVO.\n4. Responda ESTRITAMENTE em formato JSON padrão.\n\nFORMATO DE SAÍDA (OBRIGATÓRIO)\nGere um objeto JSON válido contendo EXATAMENTE os seguintes campos:\n\n1. veredito: String (Escolha entre: FALSO, VERDADEIRO, ENGANOSO ou INCONCLUSIVO)\n2. titulo_dossie: String (Título curto e investigativo)\n3. resumo_boato: String (O que diz a mentira)\n4. a_verdade: String (Explicação detalhada dos fatos)\n5. fontes: Lista de Objetos (Cada objeto deve ter os campos \"nome\" e \"url\" da fonte confiável)\n6. texto_whatsapp: String (Texto formatado com emojis para compartilhar)\n\nREGRAS FINAIS\n- O output deve ser APENAS o JSON cru.\n- Não use markdown.\n- Não escreva nenhuma frase antes ou depois do JSON.\n- Responda em Português (PT-BR)."
        }
      },
      "id": "4b2cee2c-d6b0-4938-88b7-08ac4636db74",
      "name": "Agente Secreto (IA)2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        116
      ]
    },
    {
      "parameters": {
        "content": "1. Filtro e Deduplicação: Código Javascript que remove notícias repetidas\n e filtra apenas temas relevantes (ex: corrupção, STF, urgentes).\n2. Normalizar: Padroniza o JSON para garantir que Título, Link e\n Data estejam no formato correto.",
        "height": 960,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -368
      ],
      "typeVersion": 1,
      "id": "d79695bf-835d-4c51-b104-86fb604f0d7e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Gestão do PostgreSQL:\n1. INSERT: Salva todas as notícias novas com status 'AGUARDANDO_ANALISE'.\n2. SELECT: Recupera apenas as 10 notícias mais recentes que ainda não foram analisadas para enviar para a IA.",
        "height": 960,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -368
      ],
      "typeVersion": 1,
      "id": "3a73876c-a20e-4331-b309-91879d3f7038",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "O Core do sistema:\n1. Loop: Processa uma notícia por vez.\n2. Agente IA (DeepSeek): Analisa o texto, usa Tools de busca para checar fatos e gera o veredito.\n3. WhatsApp: Envia o relatório via Evolution API.\n4. Update: Marca o caso como 'ANALISADO' no banco para fechar o ciclo.",
        "height": 960,
        "width": 1328,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -368
      ],
      "typeVersion": 1,
      "id": "1a8b20cf-bae6-4137-9683-814af22e1d6c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Monitoramento contínuo de fontes RSS do Google News.\n\nFoco em três vetores: Governo, Congresso e Ministros.\nO nó 'Merge' unifica todos os feeds em uma única lista de dados brutos para processamento.",
        "height": 960,
        "width": 688,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1304,
        -368
      ],
      "typeVersion": 1,
      "id": "edbe99bb-3265-404f-8284-e40ca37e7db5",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Salvar no Banco": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar RSS1": {
      "main": [
        [
          {
            "node": "Salvar no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Secreto (IA)2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cron (30min)": {
      "main": [
        [
          {
            "node": "RSS Congresso1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Governo",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Ministros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Governo": {
      "main": [
        [
          {
            "node": "Juntar Tudo (Append)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Ministros": {
      "main": [
        [
          {
            "node": "Juntar Tudo (Append)",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Juntar Tudo (Append)": {
      "main": [
        [
          {
            "node": "Filtro & Deduplicação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro & Deduplicação": {
      "main": [
        [
          {
            "node": "Normalizar RSS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Congresso1": {
      "main": [
        [
          {
            "node": "Juntar Tudo (Append)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop (1 por 1)": {
      "main": [
        [],
        [
          {
            "node": "Agente Secreto (IA)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepara mensagem": {
      "main": [
        [
          {
            "node": "Envio mensagem IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tool - Busca'": {
      "ai_tool": [
        [
          {
            "node": "Agente Secreto (IA)2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Envio mensagem IA": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop (1 por 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Loop (1 por 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Secreto (IA)2": {
      "main": [
        [
          {
            "node": "prepara mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d7218336-f018-4822-a463-5ac695c50f27",
  "meta": {
    "instanceId": "b53759db222f0e2645b98babbe8b89fbc915d3061d917c9e0792cddc01d981cc"
  },
  "id": "zb422_Ut0OeIkmwtZ5XoM",
  "tags": []
}